# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.RData
.Rhistory
.Rproj.user/A652BD92/pcs/files-pane.pper
*.pper
.Rproj.user/A652BD92/persistent-state
.Rproj.user/A652BD92/sdb/per/t/2CE8BDF4
.Rproj.user/A652BD92/sdb/per/t/C6FE9D0F
.Rproj.user/A652BD92/sdb/prop/5B09617
.Rproj.user/A652BD92/sdb/prop/A9E279F8
.Rproj.user/A652BD92/sdb/prop/BAF22A40
.Rproj.user/A652BD92/sdb/prop/INDEX
CVS/Entries
CVS/Entries.Extra
CVS/Entries.Extra.Old
CVS/Entries.Old
CVS/Repository
CVS/Root
shinyapps/stefanwilhelm/highstock.dcf
highstock.Rproj